body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./pic/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: "Tilt Neon", sans-serif;
}

h2 {
    display: flex;
    color: transparent;
    font-size: 12vw;
    margin-top: -80px;
}

h2 span {
    animation: animate 3s linear infinite;
    animation-delay: calc(0.3s * var(--i));
}

@keyframes animate {
    0% {
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 10px #00b3ff,
            0 0 20px #00b3ff,
            0 0 40px #00b3ff,
            0 0 60px #00b3ff,
            0 0 80px #00b3ff,
            0 0 100px #00b3ff,
            0 0 200px #00b3ff,
            0 0 400px #00b3ff;
    }
    30%, 70% {
        color: #fff;
        filter: blur(2px) hue-rotate(360deg);
        text-shadow: 0 0 10px #00b3ff,
            0 0 20px #00b3ff,
            0 0 40px #00b3ff,
            0 0 60px #00b3ff,
            0 0 80px #00b3ff;
    }
    100% {
        color: transparent;
        box-shadow: none;
        filter: blur(2px) hue-rotate(2deg);
    }
}
